.container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  gap: 20px;
}

.header {
  background: #000000;
  opacity: 0.3;

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 60px;

  }

  &__list-item {
    transition: .2s all;


    &:hover {
      transform: scale(1.03);
      border-bottom: 1px solid white;
    }
  }

  &__list-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

.mobile-menu {
  display: none;
}


@media screen and (max-width: 830px) {
  .mobile-menu {
    display: block;
  }
  .header {
    display: none;
  }
}
