<div class="information">
  <div class="information__background"></div>
  <div class="container">
    <div class="container-inner">
      <h1 class="information__title">Устали от серости мегаполиса?
        Нам есть, что вам
        <br>
        предложить!</h1>
      <div class="information__phones">
        <div class="information__phone">
          <div class="information__phone-image">
            <img src="assets/image/phone1.png" alt="">
          </div>
          <h2 class="information__phone-title">Поднимает
            настроение</h2>
          <p class="information__phone-information">Приложение позволит вам победить осеннюю хандру и депрессию
            буквально в несколько кликов!</p>
        </div>
        <div class="information__phone">
          <div class="information__phone-image">
            <img src="assets/image/phone2.png" alt="">
          </div>
          <h2 class="information__phone-title">Меняет мир
            вокруг</h2>
          <p class="information__phone-information">Сделайте снимок и
            украсьте его смайликом
            или текстовой подписью, чтобы усилить эффект</p>
        </div>
        <div class="information__phone">
          <div class="information__phone-image">
            <img src="assets/image/phone3.png" alt="">
          </div>
          <h2 class="information__phone-title">Заводит
            новых друзей</h2>
          <p class="information__phone-information">Ставьте лайки, комментируйте, делитесь фотографиями с друзьями
            и заводите новых</p>
        </div>
      </div>
      <div class="information__diagram-container">
        <div class="information__diagram">
          <img src="assets/image/diagram.png" alt="">
        </div>
        <div class="information__diagram-info">
          <h2 class="information__diagram-title">Эффект на 24 часа!</h2>
          <p class="information__diagram-text">Британские ученые провели исследования и доказали,
            что положительный эффект от использования приложения длится целые сутки!</p>
          <a href="" class="information__diagram-link">Узнать больше об исследовании</a>
        </div>
      </div>
    </div>
  </div>
</div>
