<div class="contacts">
  <!--  <div class="contacts__background"></div>-->
</div>
<div class="container">
  <h2 class="contacts__title">Остались вопросы?
    Свяжитесь с нами!</h2>
  <div class="contacts__container">
    <div class="contacts__inner">
      <h3 class="contacts__inner-title">Звоните:</h3>
      <a href="tel:+78125556666" class="contacts__inner-info">+7 (812) 555-66-66</a>
    </div>
    <div class="contacts__inner">
      <h3 class="contacts__inner-title">Приезжайте в гости:</h3>
      <p class="contacts__inner-info">ул. Большая Конюшенная, 19/8</p>
    </div>
    <div class="contacts__inner">
      <h3 class="contacts__inner-title">Пишите:</h3>
      <a href="mailto: mail@htmlacademy.ru" class="contacts__inner-info">mail@htmlacademy.ru</a>
    </div>
  </div>
  <iframe class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.7254167804886!2d30.321588276368903!3d59.936698343928704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310561f6374b%3A0xa667d1d54a499e64!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDIwLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1673383369660!5m2!1sru!2sru"
           style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
