
<div class="contacts">
  <div class="contacts__background"></div>
  <div class="container">
    <h2 class="contacts__title">Остались вопросы?
      Свяжитесь с нами!</h2>
    <div class="contacts__container">
      <div class="contacts__inner">
        <h3 class="contacts__inner-title">Звоните:</h3>
        <a href="tel:+78125556666" class="contacts__inner-info">+7 (812) 555-66-66</a>
      </div>
      <div class="contacts__inner">
        <h3 class="contacts__inner-title">Приезжайте в гости:</h3>
        <p class="contacts__inner-info">ул. Большая Конюшенная, 19/8</p>
      </div>
      <div class="contacts__inner">
        <h3 class="contacts__inner-title">Пишите:</h3>
        <a href="mailto: mail@htmlacademy.ru" class="contacts__inner-info">mail@htmlacademy.ru</a>
      </div>
    </div>
  </div>
</div>
