<div class="start-page">
  <div class="container">
    <div class="container-inner">
      <img src="../../assets/image/phone.png" alt="" class="start-page__phone-image">
      <div class="start-page__info">
        <h1 class="start-page__info-title">Взгляните
          на жизнь
          иначе!</h1>
        <button class="start-page__info-button">
          <a href="" class="start-page__info-link">Скачать приложение</a>
        </button>
        <div class="start-page__info-icons">
          <div>
            <img src="../../assets/image/apple-logo.png" class="start-page__info-icon" alt="">
          </div>
          <div>
            <img src="../../assets/image/android-logo.png" class="start-page__info-icon" alt="">
          </div>
          <div>
            <img src="../../assets/image/microsoft-logo.png" class="start-page__info-icon" alt="">
          </div>
        </div>
        <p class="start-page__info-text">Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8</p>
      </div>
    </div>
  </div>
</div>
