
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
}

.start-page {
  position: relative;
  width: 100%;
}
.contacts{
  position: relative;
  width: 100%;
}
.footer{
  position: relative;
  width: 100%;
}
